body {
    color: rgb(0, 0, 0);
    background-color: black;
}

section {
    background: rgb(196, 15, 141);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}